*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial, Helvetica, sans-serif;

background:#0a1a35;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.gerador{

background:#11244d;

padding:30px;

border-radius:12px;

box-shadow:0 10px 25px rgba(0,0,0,0.5);

width:320px;

text-align:center;

}

h1{

color:white;

margin-bottom:20px;

}

label{

color:white;

display:block;

margin-bottom:5px;

}

input{

width:100%;

padding:10px;

margin-bottom:10px;

border-radius:6px;

border:none;

}

button{

width:100%;

padding:10px;

background:#3c6fe0;

border:none;

border-radius:6px;

color:white;

font-size:1rem;

cursor:pointer;

margin-bottom:10px;

}

button:hover{

background:#4c7fff;

}