*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial, Helvetica, sans-serif;

background:#0a1a35;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.calculadora{

background:#11244d;

padding:30px;

border-radius:12px;

box-shadow:0 10px 25px rgba(0,0,0,0.5);

width:300px;

}

h1{

color:white;

text-align:center;

margin-bottom:15px;

}

#display{

width:100%;

height:50px;

margin-bottom:15px;

border:none;

border-radius:6px;

font-size:1.5rem;

padding:10px;

text-align:right;

}

.botoes{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:10px;

}

button{

height:50px;

border:none;

border-radius:6px;

background:#3c6fe0;

color:white;

font-size:1.2rem;

cursor:pointer;

}

button:hover{

background:#4c7fff;

}

.zero{

grid-column:span 2;

}